asgiref==3.8.1
blinker==1.8.2
cached-property==1.5.2
certifi==2024.8.30
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
debugpy==1.8.12
distlib==0.3.8
Django==5.0.3
filelock==3.16.1
flake8==7.0.0
Flask==3.0.3
frozendict==2.4.4
genanki==0.8.1
git-filter-repo==2.45.0
idna==2.10
importlib_metadata==7.0.2
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.4
Markdown==3.1.1
MarkupSafe==2.1.5
mccabe==0.7.0
peewee==3.13.3
pep8==1.7.1
platformdirs==4.2.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pycodestyle==2.11.1
pyflakes==3.2.0
pylibmc==1.6.3
pystache==0.6.5
python-dotenv==1.0.1
python-markdown-math==0.8
python-memcached==1.62
PyYAML==6.0.2
requests==2.32.3
selenium==3.141.0
setuptools==75.1.0
sqlparse==0.4.4
tomli==2.0.1
tqdm==4.66.5
urllib3==2.2.3
virtualenv==20.26.5
Werkzeug==3.0.4
wheel==0.44.0
yapf==0.40.2
zipp==3.18.1
